body{
    background: linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
    max-width: 100%;
    height:100vh;
    background-size:cover;
    background-blend-mode: hard-light;  
    animation: colorRot 10s linear infinite;
    transition:ease-in-out;
    overflow: hidden;
}
.images{
    display: flex;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
     justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;      
}
.social li{
    display:inline-table;
}
.social img{
    width:36px;
}
.social li a:hover{
    opacity:0.8;
}
@keyframes move {
    0%{opacity: 1;}
    10%{opacity:0.8}
    25%{opacity:0.5};
    50%{opacity:0.5};
    75%{opacity:0.8};
    100%{opacity:1};
}
.backTo{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    outline:none;
    color:white;
    font-weight: bold;
    font-size:21px;
    line-height:1;
    text-decoration: none;
    cursor:pointer;
    font-kerning: normal;

    -moz-animation-name: move;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: move;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name:move;
    animation-duration:6s;
    animation-iteration-count: infinite;
}

@keyframes colorRot{
    0%{background-color: #e56420;}
    15%{background-color:#c22525}
    30%{background-color:#3d9c31};
    45%{background-color:#37bbde};
    60%{background-color:#37bbde};
    75%{background-color:#3d9c31};
    90%{background-color:#c22525};
    100%{background-color:#e56420};
}
.register{
    display:flex;
}
.register-form{
    display:flex;
    flex-direction: column;
    border-style:solid;
    border-color:darkred;
    justify-content:stretch;
    border-radius: 0.5rem;
    background-color:transparent;
    background-blend-mode: soft-light;
    
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    max-width: 32rem;
    margin: auto;
    max-height: 90%;
    width: 90%;
    margin-top:100px;
}
#register-name,
#register-lastname,
#register-email,
#register-password,
#register-confpassword{
    border-radius:1rem;
    padding:0.5rem;
    margin:10px;
}
#register-name:hover,
#register-lastname:hover,
#register-email:hover,
#register-password:hover,
#register-confpassword:hover{
    opacity:0.8;
}
#register-button{
    border-radius: 1rem;
    float:right;
    margin-top:15px;
    padding:10px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    background-color:darkred;
}
#register-button:hover{
    opacity:0.7;
}
#reg{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and(max-width:400px){
    .login-form{
        max-width: 100%;
    }
}
